/*-------------------------------------------------------
34. Review css
---------------------------------------------------------*/

.review-single {
	padding: 6rem 5rem;
	background: var(--clr-white);
	box-shadow: 0 0 7px rgba(0,0,0,.07);
	h5 {
		font-weight: 500;
		position: relative;
		z-index: 1;
		padding-left: 6rem;
		font-size: 16px;
		margin-bottom: 2rem;
		&::before {
			@include pos-abs(var(--clr-def),2px,5rem,1);
			top: 50%;
			left: 0;
			transform: translate(0 ,-50%);
		}
	}
	p {
		margin-bottom: 4rem;
	}
	span {
		color: var(--clr-def);
		font-weight: 500;
	}
}

.reveiw-wpr {
    margin-left: -12rem;
}

.review-slider-ico {
    display: inline-block;
}

.review-left-content {
	h2 {
		font-size: 5rem;
		color: var(--clr-white);
	}
	img {
		filter: brightness(.5);
	}
}

.review-left-title-arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    translate: 0 -50%;
}

.review-left-content .swiper-button-next, .review-left-content .swiper-button-prev {
    position: inherit;
    top: inherit;
    margin-top: 0;
    display: inherit;
    width: 80px;
    height: 35px;
    color: var(--clr-white);
    background-color: var(--clr-def);
    text-align: center;
    border-radius: 5px;
}

.review-left-content .swiper-button-prev:after, .review-left-content .swiper-button-next:after {
    font-family: 'IcoFont';
    font-size: 36px;
}

.review-left-content .swiper-button-next:after {
    content: '\ea93';
}

.review-left-content .swiper-button-prev:after {
    content: '\ea94';
}

.review-shapes {
	img {
		position: absolute;
		z-index: -1;
		&.review-shape {
			bottom: -500px;
			left: 0;
			width: 1200px;
		}
	}
}

.review-sldr{
	&.swiper {
		.swiper-pagination {
			position: inherit;
			margin-bottom: -18px;
			margin-top: 40px;
			.swiper-pagination-bullet{
				background: transparent;
				height: 20px;
				width: 20px;
				border: 1px solid var(--clr-def);
				position: relative;
				z-index: 1;
				opacity: 1;
				&.swiper-pagination-bullet-active {
					border-color: var(--clr-def);
					&::after {
						position: absolute;
						left: 50%;
						top: 50%;
						content: "";
						height: 5px;
						width: 5px;
						border-radius: 50%;
						transform: translate(-50%, -50%);
						background: var(--clr-def);
						transition: all 0.35s ease-in-out;
					}
				}
			}
		}
	}  
}